# **Google Data Analytics Professional Certificate (Capstone Project)**
### Case Study: How Can a Wellness Technology Company Play It Smart?

### **Prepared By: Musaini Ramlee**

### **1) Introduction**

Welcome to the Bellabeat data analysis case study!      
In this case study, I will perform a real-world task of a junior data
analyst for Bellabeat, a high-tech manufacturer of health-focused products for women. 

This case study will follow the steps of the data analysis process as laid out in *Google Data Analytics Professional Certificate* : **Ask, Prepare, Process, Analyze, Share,** and **Act**

Bellabeat Products includes:

* **Bellabeat app**: The Bellabeat app provides users with health data related to their activity, sleep, stress,
menstrual cycle, and mindfulness habits. This data can help users better understand their current habits and
make healthy decisions. The Bellabeat app connects to their line of smart wellness products.

* **Leaf**: Bellabeat’s classic wellness tracker can be worn as a bracelet, necklace, or clip. The Leaf tracker connects
to the Bellabeat app to track activity, sleep, and stress.

* **Time**: This wellness watch combines the timeless look of a classic timepiece with smart technology to track user
activity, sleep, and stress. The Time watch connects to the Bellabeat app to provide you with insights into your
daily wellness.

* **Spring**: This is a water bottle that tracks daily water intake using smart technology to ensure that you are
appropriately hydrated throughout the day. The Spring bottle connects to the Bellabeat app to track your
hydration levels.

* **Bellabeat membership**: Bellabeat also offers a subscription-based membership program for users.
Membership gives users 24/7 access to fully personalized guidance on nutrition, activity, sleep, health and
beauty, and mindfulness based on their lifestyle and goals.

### **2) Problem Statement (Business Tasks)**
###### _(This is the 'Ask' stage)_
            

The co-founder of Bellabeat, Urška Sršen required an analysis on smart device usage by non-Bellabbeat smart device users in order to answer the following questions;

i.	What are some trends in smart device usage?   
ii.	How could these trends apply to Bellabeat customers?   
iii.	How could these trends help influence Bellabeat marketing strategy?

### **3) Data Sets**
###### _(This is the 'Prepare' stage)_

a.	**Dataset Origin**: Sources of this dataset is from preprossesed [FitBit Fitness Tracker Data](https://www.kaggle.com/arashnic/fitbit). 
(CC0: Public Domain). The dataset is made available through Mobius and is available to be downloaded on Kaggle.

b.	**Description**: This Kaggle data set contains personal fitness tracker from thirty fitbit users. Thirty eligible Fitbit users consented to the submission of personal tracker data, including minute-level output for physical activity, heart rate, and sleep monitoring. It includesinformation about daily activity, steps, and heart rate that can be used to explore users’ habits.

c.	**Data Structure and Overview**: The raw data is pre-processes by using the code below. The objective is to identify how it is stuctured.

In [177]:
import pandas as pd
dailyAct = pd.read_csv('dailyActivity_merged.csv')
dailyAct

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.500000,8.500000,0.0,1.88,0.55,6.06,0.00,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.970000,6.970000,0.0,1.57,0.69,4.71,0.00,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.740000,6.740000,0.0,2.44,0.40,3.91,0.00,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.280000,6.280000,0.0,2.14,1.26,2.83,0.00,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.160000,8.160000,0.0,2.71,0.41,5.04,0.00,36,10,221,773,1863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,8877689391,5/8/2016,10686,8.110000,8.110000,0.0,1.08,0.20,6.80,0.00,17,4,245,1174,2847
936,8877689391,5/9/2016,20226,18.250000,18.250000,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710
937,8877689391,5/10/2016,10733,8.150000,8.150000,0.0,1.35,0.46,6.28,0.00,18,11,224,1187,2832
938,8877689391,5/11/2016,21420,19.559999,19.559999,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832
939,8877689391,5/12/2016,8064,6.120000,6.120000,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849

In [178]:
dailyCal = pd.read_csv('dailyCalories_merged.csv')
dailyCal

             Id ActivityDay  Calories
0    1503960366   4/12/2016      1985
1    1503960366   4/13/2016      1797
2    1503960366   4/14/2016      1776
3    1503960366   4/15/2016      1745
4    1503960366   4/16/2016      1863
..          ...         ...       ...
935  8877689391    5/8/2016      2847
936  8877689391    5/9/2016      3710
937  8877689391   5/10/2016      2832
938  8877689391   5/11/2016      3832
939  8877689391   5/12/2016      1849

[940 rows x 3 columns]

In [183]:
dailyAct.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

It is clear from tables above, the data is stored in long format.

d.	**_ROCCC_ Analysis**: In order to make sure the data is "Good Data", we shall check the given data if they are;

* **Reliable** - This particular dataset is reliable because it is generated from FitBit, one of the leading brand in smart wearable technologies.
* **Original** - Although these dataset is not a primary source (not collected directly by Bellabeat), however, it is still original and in its raw form. Hence, it is a great secondary data, sufficient for analysis. The data owner is _Mobius_.
* **Comprehensive** - The data set is comprehensive enough. It covers all aspects from fitness to wellness. 
* **Current** - The dataset is consider recent ie; December 2020.
* **Cited** - This dataset does not have any copyright. However, the original dataset can be traced back in this link [here](https://zenodo.org/record/53894#.X9oeh3Uzaao)

In conclusion, the dataset can be considered as reliable and credible enough to be used for further analysis.

### **4) Data Preprocessing**
###### _(This is the 'Process' stage)_

*	The data format is in CSV files. All of the downloaded files will be cleaned with a standard process

In [207]:
import glob
from pathlib import Path
import os
cwd = os.getcwd()

#Step 1 - Remove any duplicates for all the csv files
## using function 'drop_duplicates'


#Step 2 - Strip any whitespace from ends of each value across all series in dataframe
def trim_all_columns(df):
    trim_strings = lambda x: x.strip() if isinstance(x, str) else x
    return df.applymap(trim_strings)


#Step 3 - Standardize text format
""" def standardize_text(df):
    lowercase = lambda s: s.str.lower() if s.dtype=='object' else s
    return df.apply(standardize_text) """ #code in progress


#Step 4 - Check for NaN values and save CSV file to other folders
def check_NaN(df):
    if df.isnull().values.any() == False:
        print("No NaN values in " + csv.name )
    else:
        print(csv.name + " contains NaN values. Please check the following columns")
        print(df.isna().sum())
    df.to_csv(cwd + "/cleaned/" + csv.name) #save the file in a new dir

    
#Loop the cleaning process for all the csv files
csv_files = [f for f in Path(cwd).glob('*.csv')] #list all csv


for csv in csv_files: #iterate list
    # Get data
    df = pd.read_csv(csv)

    # The cleaning operation for Step 1, 2, 3 & 4 above
    df.drop_duplicates(keep=False, inplace=True)  #drop duplicates
    df = trim_all_columns(df)  #trim extra spaces
    "df = standardize_text(df)" #change all text to lower case / WIP
    df = check_NaN(df) #check for missing values

No NaN values in dailyActivity_merged.csv
No NaN values in dailyCalories_merged.csv
No NaN values in dailyIntensities_merged.csv
No NaN values in dailySteps_merged.csv
No NaN values in heartrate_seconds_merged.csv
No NaN values in hourlyCalories_merged.csv
No NaN values in hourlyIntensities_merged.csv
No NaN values in hourlySteps_merged.csv
No NaN values in minuteCaloriesNarrow_merged.csv
No NaN values in minuteCaloriesWide_merged.csv
No NaN values in minuteIntensitiesNarrow_merged.csv
No NaN values in minuteIntensitiesWide_merged.csv
No NaN values in minuteMETsNarrow_merged.csv
No NaN values in minuteSleep_merged.csv
No NaN values in minuteStepsNarrow_merged.csv
No NaN values in minuteStepsWide_merged.csv
No NaN values in sleepDay_merged.csv
weightLogInfo_merged.csv contains NaN values. Please check the following
Id                 0
Date               0
WeightKg           0
WeightPounds       0
Fat               65
BMI                0
IsManualReport     0
LogId              0
dtype: int64

### **5) Data Analysis**
###### _> (This is the 'Analyze' stage; the efforts done to gain insights from the raw cleaned data)_

In [171]:
dailyAct.groupby(['Id', 'ActivityDate']).sum()

                         TotalSteps  TotalDistance  TrackerDistance  \
Id         ActivityDate
1503960366 4/12/2016          13162           8.50             8.50
           4/13/2016          10735           6.97             6.97
           4/14/2016          10460           6.74             6.74
           4/15/2016           9762           6.28             6.28
           4/16/2016          12669           8.16             8.16
...                             ...            ...              ...
8877689391 5/5/2016           14055          10.67            10.67
           5/6/2016           21727          19.34            19.34
           5/7/2016           12332           8.13             8.13
           5/8/2016           10686           8.11             8.11
           5/9/2016           20226          18.25            18.25

                         LoggedActivitiesDistance  VeryActiveDistance  \
Id         ActivityDate
1503960366 4/12/2016                          0.0                1.88
           4/13/2016                          0.0                1.57
           4/14/2016                          0.0                2.44
           4/15/2016                          0.0                2.14
           4/16/2016                          0.0                2.71
...                                           ...                 ...
8877689391 5/5/2016                           0.0                5.46
           5/6/2016                           0.0               12.79
           5/7/2016                           0.0                0.08
           5/8/2016                           0.0                1.08
           5/9/2016                           0.0               11.10

                         ModeratelyActiveDistance  LightActiveDistance  \
Id         ActivityDate
1503960366 4/12/2016                         0.55                 6.06
           4/13/2016                         0.69                 4.71
           4/14/2016                         0.40                 3.91
           4/15/2016                         1.26                 2.83
           4/16/2016                         0.41                 5.04
...                                           ...                  ...
8877689391 5/5/2016                          0.82                 4.37
           5/6/2016                          0.29                 6.16
           5/7/2016                          0.96                 6.99
           5/8/2016                          0.20                 6.80
           5/9/2016                          0.80                 6.24

                         SedentaryActiveDistance  VeryActiveMinutes  \
Id         ActivityDate
1503960366 4/12/2016                        0.00                 25
           4/13/2016                        0.00                 21
           4/14/2016                        0.00                 30
           4/15/2016                        0.00                 29
           4/16/2016                        0.00                 36
...                                          ...                ...
8877689391 5/5/2016                         0.00                 67
           5/6/2016                         0.00                 96
           5/7/2016                         0.00                105
           5/8/2016                         0.00                 17
           5/9/2016                         0.05                 73

                         FairlyActiveMinutes  LightlyActiveMinutes  \
Id         ActivityDate
1503960366 4/12/2016                      13                   328
           4/13/2016                      19                   217
           4/14/2016                      11                   181
           4/15/2016                      34                   209
           4/16/2016                      10                   221
...                                      ...                   ...
8877689391 5/5/2016                       15                   188
           5/6/2016                       17                   232
           5/7/2016                       28                   271
           5/8/2016                        4                   245
           5/9/2016                       19                   217

                         SedentaryMinutes  Calories
Id         ActivityDate
1503960366 4/12/2016                  728      1985
           4/13/2016                  776      1797
           4/14/2016                 1218      1776
           4/15/2016                  726      1745
           4/16/2016                  773      1863
...                                   ...       ...
8877689391 5/5/2016                  1170      3052
           5/6/2016                  1095      4015
           5/7/2016                  1036      4142
           5/8/2016                  1174      2847
           5/9/2016                  1131      3710

[940 rows x 13 columns]